torch==2.5.0+cu124
torchvision==0.20.0+cu124
diffusers==0.35.1
transformers==4.56.1
xformers==0.0.28.post2
imageio==2.27.0
imageio-ffmpeg==0.4.9
decord==0.6.0
omegaconf==2.3.0
gradio==3.36.1
safetensors==0.6.2
einops
wandb
